#rectangle{
    position:absolute;
    top:50px;
    left:50px;
    width:14rem;
    z-index: -1;
}

//slide one

.main{
    position: relative;
    margin: 0 auto;
    width:90%;
    height:calc(100vh - 80px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease-in-out;
    overflow: hidden;
    
    
    
    

    #text{
        position:absolute;
        right:90px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700;
        opacity: 0;
        font-size: clamp(1rem, calc(40vw+20rem), 80rem);
        color: white;
        overflow: hidden;
        transition: all 500ms ease-in-out;
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
        @media screen and (max-width:1000px){
            display:none;
        }
    }
    #pagenum{
        position: absolute;
        margin:0;
        font-family: 'EB Garamond',serif;
        font-weight: 100;
        font-size: clamp(2rem, calc(3vw + 1.5rem), 4rem);
        @media screen and (max-width:750px){
            position: static;
            margin-left:clamp(.1rem, calc(12vw + 1rem), 20rem);
            margin-bottom:.7rem;
        }
    }
    h1,h2 {
        color:rgb(255, 255, 255);
        margin-left:clamp(.1rem, calc(12vw + 1rem), 20rem);
        
    }
    h1{
        font-size: clamp(1rem, calc(5vw + 1rem), 6rem);
        
    }
    h2{
       font-weight: 300;
       font-size: clamp(0.4rem, calc(5vw + .1rem), 4rem); 
       opacity: .85;
       padding-top:0.7rem;
    }
}
//slide one end


//slide two
.slide-two{
    position: relative;
    padding:clamp(1rem, calc(10vw + 5rem), 10rem) 0;
    width:90%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:5rem;
    
    h2{
        display:inline;
        font-size: clamp(2rem, calc(3vw + 1.5rem), 4rem);
        width:100%;
        text-align: center;
        margin-bottom:5rem;
        color: #ffffff; 
            &::before{
            content: '02';
            position:absolute;
            left:0;
            top:0px;
            font-family: 'EB Garamond',serif;
            font-weight: 100;
        }
    }

    .card{
        position: relative;
        display: flex;
        flex-direction: column;
        width:18%;
        min-width: 200px;
        max-width:400px;
        background-color: #C4C4C4;
        transition: all 250ms ease-in-out;
        padding:clamp(.1rem, calc(1vw + 1rem), 40px) clamp(.1rem, calc(1vw + 1rem), 40px) 0 clamp(.1rem, calc(1vw + 1rem), 40px);
        
        p{
            font-size: clamp(.8rem, calc(.5vw + .6rem), 2rem);
            padding:clamp(.1rem, calc(.8vw + .8rem), 40px) 0 clamp(.1rem, calc(.7vw + .5rem), 40px) 0;
        }
        img{
            transition: all 250ms ease-in-out;
            box-shadow: 0 0 1rem rgba(17, 17, 17, 0.39) ; 
            filter: grayscale(1);  
        }
        img:hover{
            transform: scale(1.03);    
            filter: none;  
            cursor: pointer;
        }
        .before{
            transition: all 250ms ease-in-out;
            top:-15px;
            left:-15px;
            position: absolute;
            padding:100% 100% clamp(.1rem, calc(.8vw + .8rem), 40px) 0;
            background-color: #EDEDED;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
            z-index: -1;
        }
        .after{
            transition: all 250ms ease-in-out;
            top:-30px;
            left:-30px;
            position: absolute;
            padding:100% 100% clamp(.1rem, calc(.8vw + .8rem), 40px) 0;
            background-color: #a4ff67;
            z-index: -2;
        }
    }
}
//slide two end

//slide three
.slide-three{
    overflow: hidden;
    position: relative;
    width:100%;
    padding:clamp(1rem, calc(5vw + 4rem), 8rem) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        position: relative;
        display: inline-block;
        left:0px;
        background-color: #EDEDED;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding:60px;
        transform: perspective(1000px) rotateY(10deg);
        perspective-origin: 50% 50%;
        box-shadow: -50px 30px 20px rgba(0, 0, 0, 0.247);
        
        video{
            width:100%;
            transition: all 250ms ease-in-out;
            box-shadow: -20px 10px 10px rgba(0, 0, 0, 0.096);
            
        }
    }
}
//slide three end




